<p>
  What's it like above the sky?
</p>

<div class="container">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" id="reset">Reset</button>
    <button type="button" class="btn btn-primary" id="show_low">Show Low Earth Orbit</button>
    <button type="button" class="btn btn-primary" id="show_medium">Show Medium Earth Orbit</button>
    <button type="button" class="btn btn-primary" id="show_g">Show Geosynchronous</button>
    <button type="button" class="btn btn-primary" id="by_country">Filter By Owner Country</button>
    <button type="button" class="btn btn-primary" id="by_use">Filter By Use</button>
    <button type="button" class="btn btn-primary" id="donut">Donut Chart</button>
  </div>  
</div>     
<div id="orbits"></div>