<h2>
  What's it like above the sky?
</h2>

<div class="container">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" id="reset">Reset</button>
    <button type="button" class="btn btn-primary" id="show_low">Show Low Earth Orbit</button>
    <button type="button" class="btn btn-primary" id="show_medium">Show Medium Earth Orbit</button>
    <button type="button" class="btn btn-primary" id="show_g">Show Geosynchronous</button>
    <button type="button" class="btn btn-primary" id="by_country">Filter By Owner Country</button>
    <button type="button" class="btn btn-primary" id="by_use">Filter By Use</button>
    <button type="button" class="btn btn-primary" id="donut">Donut Chart</button>
  </div>  
</div>    
<div id="tooltip" class="hidden">
    <p><strong>Country: <span id="t_country">USA</span></strong></p>
    <p>Operator: <span id="t_operator">USC</span></p>
    <p>User: <span id="t_user">Civil</span>; Purpose: <span id="t_purpose">Communications</span></p>
    <p>Class: <span id="t_class">LEO</span>; Perigee: <span id="t_perigee">1000</span> km, Apogee: <span id="t_apogee">1000</span> km</p>
    <p>Data of Launch: <span id="t_date">1/1/2018</span></p>
    <p>Launch Site: <span id="t_site">Vandenberg AFB</span>, Launch Vehicle: <span id="t_vehicle">Atlas 5</span></p>
</div> 
<div id="orbits" (window:resize)="onResize()"></div>
